@{
    ViewBag.Title = "Otwórz się na innych";
}

<div class="jumbotron">
    <h1>Otwórz się na innych</h1>
    <p class="lead">
        W dzisiejszym świecie, klienci lubią mieć wszystko na widoku, bez potrzeby dzwonienia czy pisania aby się umówić. Dzięki nam, teraz im to umożliwisz! <br />
        Używając naszej aplikacji, bez problemu umówisz z klientami swoje wizyty. Do tego zawsze masz pod ręką informację kto, co i kiedy.

    </p>
    <p>@Html.ActionLink("Stwórz swój kalendarz", "Register", "Account", new { } ,new { @class = "btn btn-lg btn-primary" })</p>
</div>

<div class="jumbotron">
    <h1>Jesteś klientem?</h1>
    <p class="lead">
        Zarejestruj się, aby móc bez ograniczeń korzystać z funkcji naszego serwisu. Wybierz odpowiednią firmę i od razu miej dostęp do wszystkich wolnych terminów. 
        Nie jesteś pewien, którą firmę wybrać? Zdaj się na recenzję innych. 

    </p>
    <p>@Html.ActionLink("Zarejestruj nowe konto", "Register", "Account", new { } , new { @class = "btn btn-lg btn-primary" })</p>
</div>